contributor: Tri Doan

# Exploratory Data Analysis

This prototype implements common job for processing data. Here we review and clean Online Retail dataset from UCI Machine Learning Repository - http://archive.ics.uci.edu/ml/datasets/online+retail for presentation purpose

In [1]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
from matplotlib import pyplot as plt

In [2]:
os.chdir('C:/Projects_prototype/EAD_online_data')
online = pd.read_excel('Online Retail.xlsx')

## Check data summary.

In [8]:
online.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

## Initial check, we see there is a problem of negative values, for that we will remove in next step

In [10]:
online = online[online['Quantity'] > 0]
online = online[online['UnitPrice'] > 0]

In [11]:
online.describe()

            Quantity      UnitPrice     CustomerID
count  530104.000000  530104.000000  397884.000000
mean       10.542037       3.907625   15294.423453
std       155.524124      35.915681    1713.141560
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

In [7]:
online.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      530104 non-null object
StockCode      530104 non-null object
Description    530104 non-null object
Quantity       530104 non-null int64
InvoiceDate    530104 non-null datetime64[ns]
UnitPrice      530104 non-null float64
CustomerID     397884 non-null float64
Country        530104 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.4+ MB

### Identifying missing data
`CustomerID` has a smaller number of non-null rows than other variables which indicates there may be some missing data.

We can calculate how many variables are `NULL` and see that there are 132 220 entries with `NULL` values. We will just remove them in the next steps.

In [8]:
online.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

## The results confirm missing CutomerID exist. We have to remove them

In [16]:
online = online[pd.notnull(online['CustomerID'])]
online.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

### Back up the cleaned dataset

Let's save the cleaned dataset as a different Excel file for other task

In [17]:
writer = pd.ExcelWriter('OnlineClean.xlsx')
online.to_excel(writer, 'Sheet1')
writer.save()

## Exploring the dataset

### View number of Invoices per country

Let's review the distribution of sales count per country.

In [18]:
online.groupby(['Country'])['InvoiceNo'].agg('count').sort_values(ascending=False)

Country
United Kingdom          354321
Germany                   9040
France                    8341
EIRE                      7236
Spain                     2484
Netherlands               2359
Belgium                   2031
Switzerland               1841
Portugal                  1462
Australia                 1182
Norway                    1071
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: InvoiceNo, dtype: int64

### Most popular products

Let review the top 20 most popular products - there are 3 products that each account for more than 1 percent sales: Little Birdie paper craft, Medium ceramic top storage jar, and World War 2 gliders assorted designs.

In [13]:
online.groupby(['Description'])['Quantity'].agg('sum').sort_values(\
    ascending=False)[:20] / np.sum(online['Quantity']) * 100

Description
PAPER CRAFT , LITTLE BIRDIE           1.567298
MEDIUM CERAMIC TOP STORAGE JAR        1.507717
WORLD WAR 2 GLIDERS ASSTD DESIGNS     1.052960
JUMBO BAG RED RETROSPOT               0.893628
WHITE HANGING HEART T-LIGHT HOLDER    0.710649
ASSORTED COLOUR BIRD ORNAMENT         0.684274
PACK OF 72 RETROSPOT CAKE CASES       0.651978
POPCORN HOLDER                        0.598532
RABBIT NIGHT LIGHT                    0.526374
MINI PAINT SET VINTAGE                0.504585
PACK OF 12 LONDON TISSUES             0.490440
PACK OF 60 PINK PAISLEY CAKE CASES    0.469522
BROCADE RING PURSE                    0.444347
VICTORIAN GLASS HANGING T-LIGHT       0.434091
ASSORTED COLOURS SILK FAN             0.423313
RED  HARMONICA IN BOX                 0.405878
JUMBO BAG PINK POLKADOT               0.390204
SMALL POPCORN HOLDER                  0.353186
LUNCH BAG RED RETROSPOT               0.342447
60 TEATIME FAIRY CAKE CASES           0.342292
Name: Quantity, dtype: float64

### View popular products

Let review the top 20 least popular products. It's interesting as the store has sold only one unit of each.

In [19]:
online.groupby(['Description'])['Quantity'].agg('sum').sort_values(ascending=False)[-20:]

Description
SET/3 FLORAL GARDEN TOOLS IN BAG       1
BAROQUE BUTTERFLY EARRINGS CRYSTAL     1
FIRE POLISHED GLASS NECKL GOLD         1
PURPLE CHUNKY GLASS+BEAD NECKLACE      1
PACK 4 FLOWER/BUTTERFLY PATCHES        1
POTTING SHED SOW 'N' GROW SET          1
DUSTY PINK CHRISTMAS TREE 30CM         1
EASTER CRAFT IVY WREATH WITH CHICK     1
FIRE POLISHED GLASS BRACELET BLACK     1
BLUE PADDED SOFT MOBILE                1
MUMMY MOUSE RED GINGHAM RIBBON         1
MARIE ANTOIENETT TRINKET BOX GOLD      1
CAKE STAND LACE WHITE                  1
HEN HOUSE W CHICK IN NEST              1
CHERRY BLOSSOM PURSE                   1
SET/3 TALL GLASS CANDLE HOLDER PINK    1
LASER CUT MULTI STRAND NECKLACE        1
CRACKED GLAZE EARRINGS BROWN           1
DOLPHIN WINDMILL                       1
SET OF 3 PINK FLYING DUCKS             1
Name: Quantity, dtype: int64

### Any item  with  low sale only which may be not worth to include

There may some items that is rarely sold.

In [15]:
online.groupby(['Description']).filter(lambda x: x['Quantity'].sum() == 1)['Description'].agg('count')

59

## Britain is the only country has a largest online activity. We may need to use a sub sample from this country.

In [20]:
onlineuk = online[online['Country']=='United Kingdom']

### Randomly sample 20 % of the data

In [21]:
onlinesampled = onlineuk.sample(frac=0.2, replace=False, random_state=1)

In [22]:
print('onlineuk: {}, onlinesampled: {}'.format(onlineuk.shape, onlinesampled.shape))

onlineuk: (354321, 8), onlinesampled: (70864, 8)

In [23]:
writer = pd.ExcelWriter('OnlineSampled.xlsx')
onlinesampled.to_excel(writer, 'Sheet1')
writer.save()

In [24]:
onlinesampled.to_csv('OnlineSampled.csv')