In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv(r'C:\Users\Legion\Downloads\AirPassengers.csv',parse_dates=['Month'], index_col='Month')

In [4]:
q75 = np.percentile(data['Passengers'],75)
q25 = np.percentile(data['Passengers'],25)
iqr = q75 - q25
print(iqr)

180.5

To detect the outliers, one needs to consider the following range: $[Median value - 1.5iqr, Median value - 1.5iqr,]$

In [6]:
# from our dataset, choose only the months where the number of passengers exceeds the range above 
data[data['Passengers']>np.median(data['Passengers'])+1.5*iqr]

            Passengers
Month
1959-07-01         548
1959-08-01         559
1960-07-01         622
1960-08-01         606

In [8]:
# import the necessary library
from sklearn.cluster import KMeans
# initialize the clustering function
km = KMeans(n_clusters=4)

In [9]:
# fit the data (learn)
km.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [10]:
# make preditctions (clustering) 
km.predict(data)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 2, 2,
       2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3,
       3, 0, 0, 0, 0, 0, 3, 3, 3, 3, 1, 1, 3, 3, 0, 3, 3, 0, 3, 3, 3, 3, 1,
       1, 3, 3, 0, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 1,
       1, 1, 1, 1, 3, 3])