Business have targets to achieve. We can project sales to predict the business's performance' in future time. It is useful to zoom out and look at the broader picture as well. By considering all our efforts on the customer side, how do we affect the sales?

In [2]:
from __future__ import division

from datetime import datetime, timedelta,date
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

import keras
from keras.layers import Dense, LSTM
from keras.models import Sequential
from keras.optimizers import Adam 
from keras.callbacks import EarlyStopping
from keras.utils import np_utils
from sklearn.model_selection import KFold, cross_val_score, train_test_split

In [2]:
import warnings
warnings.filterwarnings("ignore")

We are given 5 years of store-item sales data, and asked to predict 3 months of sales for 50 different items at 10 different stores.

What's the best way to deal with seasonality? Should stores be modeled separately, or can you pool them together? Does deep learning work better than ARIMA? Can either beat xgboost?[data](https://www.kaggle.com/c/demand-forecasting-kernels-only/data)

In [4]:
df_sales = pd.read_csv('./Downloads/data/sale_data.csv')
df_sales.shape

(913000, 4)

In [5]:
df_sales.head(10)

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10
5  2013-01-06      1     1     12
6  2013-01-07      1     1     10
7  2013-01-08      1     1      9
8  2013-01-09      1     1     12
9  2013-01-10      1     1      9

In [68]:
df_sales['date'] = pd.to_datetime(df_sales['date'])

In [69]:
#represent month in date field as its first day
df_sales['date'] = df_sales['date'].dt.year.astype('str') + '-' + df_sales['date'].dt.month.astype('str') + '-01'
df_sales['date'] = pd.to_datetime(df_sales['date'])

In [70]:
#groupby date and sum the sales
df_sales = df_sales.groupby('date').sales.sum().reset_index()

In [71]:
df_sales.head()

        date   sales
0 2013-01-01  454904
1 2013-02-01  459417
2 2013-03-01  617382
3 2013-04-01  682274
4 2013-05-01  763242

In [72]:
#plot monthly sales
plot_data = [
    go.Scatter(
        x=df_sales['date'],
        y=df_sales['sales'],
    )
]

plot_layout = go.Layout(
        title='Montly Sales'
    )
fig = go.Figure(data=plot_data, layout=plot_layout)
pyoff.iplot(fig)

In [80]:
#create a new dataframe to model the difference
df_diff = df_sales.copy()

In [81]:
#add previous sales to the next row
df_diff['prev_sales'] = df_diff['sales'].shift(1)

In [82]:
df_diff.head()

        date   sales  prev_sales
0 2013-01-01  454904         NaN
1 2013-02-01  459417    454904.0
2 2013-03-01  617382    459417.0
3 2013-04-01  682274    617382.0
4 2013-05-01  763242    682274.0

In [84]:
#drop the null values and calculate the difference
df_diff = df_diff.dropna()

In [85]:
df_diff['diff'] = (df_diff['sales'] - df_diff['prev_sales'])

In [87]:
df_diff.head(10)

         date   sales  prev_sales      diff
1  2013-02-01  459417    454904.0    4513.0
2  2013-03-01  617382    459417.0  157965.0
3  2013-04-01  682274    617382.0   64892.0
4  2013-05-01  763242    682274.0   80968.0
5  2013-06-01  795597    763242.0   32355.0
6  2013-07-01  855922    795597.0   60325.0
7  2013-08-01  766761    855922.0  -89161.0
8  2013-09-01  689907    766761.0  -76854.0
9  2013-10-01  656587    689907.0  -33320.0
10 2013-11-01  692643    656587.0   36056.0

In [79]:
#plot sales diff
plot_data = [
    go.Scatter(
        x=df_diff['date'],
        y=df_diff['diff'],
    )
]

plot_layout = go.Layout(
        title='Montly Sales Diff'
    )
fig = go.Figure(data=plot_data, layout=plot_layout)
pyoff.iplot(fig)

In [20]:
#create new dataframe from transformation from time series to supervised
df_supervised = df_diff.drop(['prev_sales'],axis=1)

In [21]:
#adding lags
for inc in range(1,13):
    field_name = 'lag_' + str(inc)
    df_supervised[field_name] = df_supervised['diff'].shift(inc)

In [88]:
df_supervised.head(10)

,date,sales,diff,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12
0,2014-02-01,529117,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0,32355.0,80968.0,64892.0,157965.0,4513.0
1,2014-03-01,704301,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0,32355.0,80968.0,64892.0,157965.0
2,2014-04-01,788914,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0,32355.0,80968.0,64892.0
3,2014-05-01,882877,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0,32355.0,80968.0
4,2014-06-01,906842,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0,32355.0
5,2014-07-01,989010,82168.0,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0,60325.0
6,2014-08-01,885596,-103414.0,82168.0,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0,-89161.0
7,2014-09-01,785124,-100472.0,-103414.0,82168.0,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0,-76854.0
8,2014-10-01,758883,-26241.0,-100472.0,-103414.0,82168.0,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0,-33320.0
9,2014-11-01,800783,41900.0,-26241.0,-100472.0,-103414.0,82168.0,23965.0,93963.0,84613.0,175184.0,3130.0,19380.0,-186036.0,36056.0

In [23]:
df_supervised.tail(6)

,date,sales,diff,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12
54,2017-07-01,1171393,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0,27811.0,-33194.0,-84663.0,-157224.0,116054.0
55,2017-08-01,1026403,-144990.0,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0,27811.0,-33194.0,-84663.0,-157224.0
56,2017-09-01,935263,-91140.0,-144990.0,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0,27811.0,-33194.0,-84663.0
57,2017-10-01,891160,-44103.0,-91140.0,-144990.0,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0,27811.0,-33194.0
58,2017-11-01,928837,37677.0,-44103.0,-91140.0,-144990.0,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0,27811.0
59,2017-12-01,695170,-233667.0,37677.0,-44103.0,-91140.0,-144990.0,106769.0,43938.0,81824.0,116195.0,201298.0,4063.0,-46105.0,-228037.0

In [24]:
#drop null values
df_supervised = df_supervised.dropna().reset_index(drop=True)

In [25]:
# Import statsmodels.formula.api
import statsmodels.formula.api as smf 

# Define the regression formula
model = smf.ols(formula='diff ~ lag_1', data=df_supervised)

# Fit the regression
model_fit = model.fit()

# Extract the adjusted r-squared
regression_adj_rsq = model_fit.rsquared_adj
print(regression_adj_rsq)

0.02893426930900389

In [26]:
# Import statsmodels.formula.api
import statsmodels.formula.api as smf 

# Define the regression formula
model = smf.ols(formula='diff ~ lag_1 + lag_2 + lag_3 + lag_4 + lag_5', data=df_supervised)

# Fit the regression
model_fit = model.fit()

# Extract the adjusted r-squared
regression_adj_rsq = model_fit.rsquared_adj
print(regression_adj_rsq)

0.4406493613886947

In [27]:
# Import statsmodels.formula.api
import statsmodels.formula.api as smf 

# Define the regression formula
model = smf.ols(formula='diff ~ lag_1 + lag_2 + lag_3 + lag_4 + lag_5 + lag_6 + lag_7 + lag_8 + lag_9 + lag_10 + lag_11 + lag_12', data=df_supervised)

# Fit the regression
model_fit = model.fit()

# Extract the adjusted r-squared
regression_adj_rsq = model_fit.rsquared_adj
print(regression_adj_rsq)

0.9795722233296558

In [29]:
#import MinMaxScaler and create a new dataframe for LSTM model
from sklearn.preprocessing import MinMaxScaler
df_model = df_supervised.drop(['sales','date'],axis=1)

In [30]:
#split train and test set
train_set, test_set = df_model[0:-6].values, df_model[-6:].values

In [31]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 13 columns):
diff      47 non-null float64
lag_1     47 non-null float64
lag_2     47 non-null float64
lag_3     47 non-null float64
lag_4     47 non-null float64
lag_5     47 non-null float64
lag_6     47 non-null float64
lag_7     47 non-null float64
lag_8     47 non-null float64
lag_9     47 non-null float64
lag_10    47 non-null float64
lag_11    47 non-null float64
lag_12    47 non-null float64
dtypes: float64(13)
memory usage: 4.8 KB

In [32]:
#apply Min Max Scaler
scaler = MinMaxScaler(feature_range=(-1, 1))
scaler = scaler.fit(train_set)
# reshape training set
train_set = train_set.reshape(train_set.shape[0], train_set.shape[1])
train_set_scaled = scaler.transform(train_set)

# reshape test set
test_set = test_set.reshape(test_set.shape[0], test_set.shape[1])
test_set_scaled = scaler.transform(test_set)

(41, 13)

In [33]:
X_train, y_train = train_set_scaled[:, 1:], train_set_scaled[:, 0:1]
X_train = X_train.reshape(X_train.shape[0], 1, X_train.shape[1])

In [34]:
X_test, y_test = test_set_scaled[:, 1:], test_set_scaled[:, 0:1]
X_test = X_test.reshape(X_test.shape[0], 1, X_test.shape[1])

In [35]:
model = Sequential()
model.add(LSTM(4, batch_input_shape=(1, X_train.shape[1], X_train.shape[2]), stateful=True))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, nb_epoch=100, batch_size=1, verbose=1, shuffle=False)

Epoch 1/100
41/41 [==============================] - 0s - loss: 0.4108
Epoch 2/100
41/41 [==============================] - 0s - loss: 0.3782
Epoch 3/100
41/41 [==============================] - 0s - loss: 0.3422
Epoch 4/100
41/41 [==============================] - 0s - loss: 0.3124
Epoch 5/100
41/41 [==============================] - 0s - loss: 0.2871
Epoch 6/100
41/41 [==============================] - 0s - loss: 0.2649
Epoch 7/100
41/41 [==============================] - 0s - loss: 0.2449
Epoch 8/100
41/41 [==============================] - 0s - loss: 0.2266
Epoch 9/100
41/41 [==============================] - 0s - loss: 0.2097
Epoch 10/100
41/41 [==============================] - 0s - loss: 0.1941
Epoch 11/100
41/41 [==============================] - 0s - loss: 0.1797
Epoch 12/100
41/41 [==============================] - 0s - loss: 0.1664
Epoch 13/100
41/41 [==============================] - 0s - loss: 0.1541
Epoch 14/100
41/41 [==============================] - 0s - loss: 0.1429
Epoch 15/100
41/41 [==============================] - 0s - loss: 0.1327
Epoch 16/100
41/41 [==============================] - 0s - loss: 0.1234
Epoch 17/100
41/41 [==============================] - 0s - loss: 0.1149
Epoch 18/100
41/41 [==============================] - 0s - loss: 0.1072
Epoch 19/100
41/41 [==============================] - 0s - loss: 0.1001
Epoch 20/100
41/41 [==============================] - 0s - loss: 0.0935
Epoch 21/100
41/41 [==============================] - 0s - loss: 0.0874
Epoch 22/100
41/41 [==============================] - 0s - loss: 0.0817
Epoch 23/100
41/41 [==============================] - 0s - loss: 0.0763
Epoch 24/100
41/41 [==============================] - 0s - loss: 0.0713
Epoch 25/100
41/41 [==============================] - 0s - loss: 0.0666
Epoch 26/100
41/41 [==============================] - 0s - loss: 0.0622
Epoch 27/100
41/41 [==============================] - 0s - loss: 0.0580
Epoch 28/100
41/41 [==============================] - 0s - loss: 0.0541
Epoch 29/100
41/41 [==============================] - 0s - loss: 0.0504
Epoch 30/100
41/41 [==============================] - 0s - loss: 0.0468
Epoch 31/100
41/41 [==============================] - 0s - loss: 0.0435
Epoch 32/100
41/41 [==============================] - 0s - loss: 0.0404
Epoch 33/100
41/41 [==============================] - 0s - loss: 0.0377
Epoch 34/100
41/41 [==============================] - 0s - loss: 0.0350
Epoch 35/100
41/41 [==============================] - 0s - loss: 0.0327
Epoch 36/100
41/41 [==============================] - 0s - loss: 0.0304
Epoch 37/100
41/41 [==============================] - 0s - loss: 0.0283
Epoch 38/100
41/41 [==============================] - 0s - loss: 0.0263
Epoch 39/100
41/41 [==============================] - 0s - loss: 0.0245
Epoch 40/100
41/41 [==============================] - 0s - loss: 0.0228
Epoch 41/100
41/41 [==============================] - 0s - loss: 0.0213
Epoch 42/100
41/41 [==============================] - 0s - loss: 0.0198
Epoch 43/100
41/41 [==============================] - 0s - loss: 0.0184
Epoch 44/100
41/41 [==============================] - 0s - loss: 0.0171
Epoch 45/100
41/41 [==============================] - 0s - loss: 0.0159
Epoch 46/100
41/41 [==============================] - 0s - loss: 0.0149
Epoch 47/100
41/41 [==============================] - 0s - loss: 0.0139
Epoch 48/100
41/41 [==============================] - 0s - loss: 0.0131
Epoch 49/100
41/41 [==============================] - 0s - loss: 0.0123
Epoch 50/100
41/41 [==============================] - 0s - loss: 0.0116
Epoch 51/100
41/41 [==============================] - 0s - loss: 0.0109
Epoch 52/100
41/41 [==============================] - 0s - loss: 0.0103
Epoch 53/100
41/41 [==============================] - 0s - loss: 0.0098
Epoch 54/100
41/41 [==============================] - 0s - loss: 0.0093
Epoch 55/100
41/41 [==============================] - 0s - loss: 0.0089
Epoch 56/100
41/41 [==============================] - 0s - loss: 0.0085
Epoch 57/100
41/41 [==============================] - 0s - loss: 0.0081
Epoch 58/100
41/41 [==============================] - 0s - loss: 0.0078
Epoch 59/100
41/41 [==============================] - 0s - loss: 0.0075
Epoch 60/100
41/41 [==============================] - 0s - loss: 0.0072
Epoch 61/100
41/41 [==============================] - 0s - loss: 0.0070
Epoch 62/100
41/41 [==============================] - 0s - loss: 0.0067
Epoch 63/100
41/41 [==============================] - 0s - loss: 0.0065
Epoch 64/100
41/41 [==============================] - 0s - loss: 0.0063
Epoch 65/100
41/41 [==============================] - 0s - loss: 0.0061
Epoch 66/100
41/41 [==============================] - 0s - loss: 0.0059
Epoch 67/100
41/41 [==============================] - 0s - loss: 0.0058
Epoch 68/100
41/41 [==============================] - 0s - loss: 0.0056
Epoch 69/100
41/41 [==============================] - 0s - loss: 0.0055
Epoch 70/100
41/41 [==============================] - 0s - loss: 0.0053
Epoch 71/100
41/41 [==============================] - 0s - loss: 0.0052
Epoch 72/100
41/41 [==============================] - 0s - loss: 0.0051
Epoch 73/100
41/41 [==============================] - 0s - loss: 0.0050
Epoch 74/100
41/41 [==============================] - 0s - loss: 0.0049
Epoch 75/100
41/41 [==============================] - 0s - loss: 0.0048
Epoch 76/100
41/41 [==============================] - 0s - loss: 0.0047
Epoch 77/100
41/41 [==============================] - 0s - loss: 0.0046
Epoch 78/100
41/41 [==============================] - 0s - loss: 0.0045
Epoch 79/100
41/41 [==============================] - 0s - loss: 0.0044
Epoch 80/100
41/41 [==============================] - 0s - loss: 0.0044
Epoch 81/100
41/41 [==============================] - 0s - loss: 0.0043
Epoch 82/100
41/41 [==============================] - 0s - loss: 0.0042
Epoch 83/100
41/41 [==============================] - 0s - loss: 0.0041
Epoch 84/100
41/41 [==============================] - 0s - loss: 0.0041
Epoch 85/100
41/41 [==============================] - 0s - loss: 0.0040
Epoch 86/100
41/41 [==============================] - 0s - loss: 0.0040
Epoch 87/100
41/41 [==============================] - 0s - loss: 0.0039
Epoch 88/100
41/41 [==============================] - 0s - loss: 0.0038
Epoch 89/100
41/41 [==============================] - 0s - loss: 0.0038
Epoch 90/100
41/41 [==============================] - 0s - loss: 0.0037
Epoch 91/100
41/41 [==============================] - 0s - loss: 0.0037
Epoch 92/100
41/41 [==============================] - 0s - loss: 0.0036
Epoch 93/100
41/41 [==============================] - 0s - loss: 0.0036
Epoch 94/100
41/41 [==============================] - 0s - loss: 0.0036
Epoch 95/100
41/41 [==============================] - 0s - loss: 0.0035
Epoch 96/100
41/41 [==============================] - 0s - loss: 0.0035
Epoch 97/100
41/41 [==============================] - 0s - loss: 0.0034
Epoch 98/100
41/41 [==============================] - 0s - loss: 0.0034
Epoch 99/100
41/41 [==============================] - 0s - loss: 0.0034
Epoch 100/100
41/41 [==============================] - 0s - loss: 0.0033

In [36]:
y_pred = model.predict(X_test,batch_size=1)

In [37]:
y_pred

array([[ 0.5854642 ],
       [-0.5540238 ],
       [-0.37854975],
       [-0.05735465],
       [ 0.23011595],
       [-1.0068958 ]], dtype=float32)

In [38]:
y_test

array([[ 0.55964922],
       [-0.61313659],
       [-0.36228353],
       [-0.14316792],
       [ 0.23779333],
       [-1.02622661]])

In [39]:
#reshape y_pred
y_pred = y_pred.reshape(y_pred.shape[0], 1, y_pred.shape[1])

In [41]:
#rebuild test set for inverse transform
pred_test_set = []
for index in range(0,len(y_pred)):
    print np.concatenate([y_pred[index],X_test[index]],axis=1)
    pred_test_set.append(np.concatenate([y_pred[index],X_test[index]],axis=1))

[[ 0.58546418  0.26695937  0.44344626  0.60355899  1.10628178  0.13866328
  -0.10745675 -1.02635392  0.24535439 -0.05787474 -0.31370458 -0.67437352
   0.68397168]]
[[-0.5540238   0.55964922  0.26695937  0.44344626  0.68877355  1.10628178
   0.13866328 -0.12204966 -1.02635392  0.24535439 -0.05787474 -0.31370458
  -0.67437352]]
[[-0.37854975 -0.61313659  0.55964922  0.26695937  0.52015228  0.68877355
   1.10628178  0.12731349 -0.12204966 -1.02635392  0.24535439 -0.05787474
  -0.31370458]]
[[-0.05735465 -0.36228353 -0.61313659  0.55964922  0.33428672  0.52015228
   0.68877355  1.10768225  0.12731349 -0.12204966 -1.02635392  0.24535439
  -0.05787474]]
[[ 0.23011595 -0.14316792 -0.36228353 -0.61313659  0.64253037  0.33428672
   0.52015228  0.68467253  1.10768225  0.12731349 -0.12204966 -1.02635392
   0.24535439]]
[[-1.00689578  0.23779333 -0.14316792 -0.36228353 -0.59257833  0.64253037
   0.33428672  0.51382935  0.68467253  1.10768225  0.12731349 -0.12204966
  -1.02635392]]

In [42]:
pred_test_set[0]

array([[ 0.58546418,  0.26695937,  0.44344626,  0.60355899,  1.10628178,
         0.13866328, -0.10745675, -1.02635392,  0.24535439, -0.05787474,
        -0.31370458, -0.67437352,  0.68397168]])

In [44]:
#reshape pred_test_set
pred_test_set = np.array(pred_test_set)
pred_test_set = pred_test_set.reshape(pred_test_set.shape[0], pred_test_set.shape[2])

In [45]:
#inverse transform
pred_test_set_inverted = scaler.inverse_transform(pred_test_set)

In [46]:
#create dataframe that shows the predicted sales
result_list = []
sales_dates = list(df_sales[-7:].date)
act_sales = list(df_sales[-7:].sales)
for index in range(0,len(pred_test_set_inverted)):
    result_dict = {}
    result_dict['pred_value'] = int(pred_test_set_inverted[index][0] + act_sales[index])
    result_dict['date'] = sales_dates[index+1]
    result_list.append(result_dict)
df_result = pd.DataFrame(result_list)

In [90]:
df_result

        date  pred_value
0 2017-07-01     1176934
1 2017-08-01     1039092
2 2017-09-01      931771
3 2017-10-01      909581
4 2017-11-01      927188
5 2017-12-01      699319

In [48]:
df_sales.head()

        date   sales
0 2013-01-01  454904
1 2013-02-01  459417
2 2013-03-01  617382
3 2013-04-01  682274
4 2013-05-01  763242

In [49]:
#merge with actual sales dataframe
df_sales_pred = pd.merge(df_sales,df_result,on='date',how='left')

In [50]:
df_sales_pred

         date    sales  pred_value
0  2013-01-01   454904         NaN
1  2013-02-01   459417         NaN
2  2013-03-01   617382         NaN
3  2013-04-01   682274         NaN
4  2013-05-01   763242         NaN
5  2013-06-01   795597         NaN
6  2013-07-01   855922         NaN
7  2013-08-01   766761         NaN
8  2013-09-01   689907         NaN
9  2013-10-01   656587         NaN
10 2013-11-01   692643         NaN
11 2013-12-01   506607         NaN
12 2014-01-01   525987         NaN
13 2014-02-01   529117         NaN
14 2014-03-01   704301         NaN
15 2014-04-01   788914         NaN
16 2014-05-01   882877         NaN
17 2014-06-01   906842         NaN
18 2014-07-01   989010         NaN
19 2014-08-01   885596         NaN
20 2014-09-01   785124         NaN
21 2014-10-01   758883         NaN
22 2014-11-01   800783         NaN
23 2014-12-01   578048         NaN
24 2015-01-01   552513         NaN
25 2015-02-01   551317         NaN
26 2015-03-01   730951         NaN
27 2015-04-01   824467         NaN
28 2015-05-01   926902         NaN
29 2015-06-01   937184         NaN
30 2015-07-01  1037350         NaN
31 2015-08-01   920401         NaN
32 2015-09-01   823332         NaN
33 2015-10-01   797253         NaN
34 2015-11-01   827645         NaN
35 2015-12-01   607572         NaN
36 2016-01-01   602439         NaN
37 2016-02-01   614957         NaN
38 2016-03-01   790881         NaN
39 2016-04-01   901950         NaN
40 2016-05-01   988730         NaN
41 2016-06-01  1022664         NaN
42 2016-07-01  1138718         NaN
43 2016-08-01   981494         NaN
44 2016-09-01   896831         NaN
45 2016-10-01   863637         NaN
46 2016-11-01   891448         NaN
47 2016-12-01   663411         NaN
48 2017-01-01   617306         NaN
49 2017-02-01   621369         NaN
50 2017-03-01   822667         NaN
51 2017-04-01   938862         NaN
52 2017-05-01  1020686         NaN
53 2017-06-01  1064624         NaN
54 2017-07-01  1171393   1176934.0
55 2017-08-01  1026403   1039092.0
56 2017-09-01   935263    931771.0
57 2017-10-01   891160    909581.0
58 2017-11-01   928837    927188.0
59 2017-12-01   695170    699319.0

In [51]:
#plot actual and predicted
plot_data = [
    go.Scatter(
        x=df_sales_pred['date'],
        y=df_sales_pred['sales'],
        name='actual'
    ),
        go.Scatter(
        x=df_sales_pred['date'],
        y=df_sales_pred['pred_value'],
        name='predicted'
    )
    
]

plot_layout = go.Layout(
        title='Sales Prediction'
    )
fig = go.Figure(data=plot_data, layout=plot_layout)
pyoff.iplot(fig)